######################
# Project Specific
######################
/src/main/webapp/content/css/main.css
/target/www/**
/src/test/javascript/coverage/
/src/test/javascript/PhantomJS*/

### Node
/node/
node_tmp/
node_modules/
npm-debug.log.*

### Maven
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Front-end ###
/bower_components
/node_modules
/dist
/src/main/resources/static/

### Package Files
*.jar
*.war
*.ear
*.db

### Directories
/build/
/bin/
/deploy/

### Logs
*.log

### Others
*.class
*.*~
*~
.merge_file*