<nav class="navbar navbar-light navbar-fixed-top navbar-toggleable bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/dashboard">
      <i class="fa fa-futbol-o"></i>&nbsp;Goleador
    </a>
    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/jogadores">
            <i class="fa fa-users"></i>&nbsp;Jogadores
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/partidas">
            <i class="fa fa-calendar"></i>&nbsp;Partidas
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/goleadores">
            <i class="fa fa-trophy"></i>&nbsp;Goleadores
          </a>
        </li>
      </ul>
    </div>
</nav>
<br>
<router-outlet></router-outlet>
<footer class="footer text-muted text-center bg-faded">
  <div class="container">
    <p>©2017. Built with care by <b><a href="https://github.com/murillocg">Murillo Goulart</a></b> and <b><a href="https://github.com/pedrorohr">Pedro Guilherme Rohr</a></b>.</p>
  </div>
    
</footer>
